:root {
    --clr-black: #111111;
    --clr-yellow: #FAB702;
    --clr-yellow-light: #FCD771;
    --clr-white: #FFFFFF;
    --clr-gray: #A0A0A0;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    background-color: var(--clr-black);
    height: 66px;
}

.logo {
    margin-left: 20rem;
    width: 150px
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    margin: 0 .8rem;
}

.nav-links a {
    color: var(--clr-white);
    font-weight: 600;
    font-size: 0.8rem;
}

.nav-links a:hover {
    color: var(--clr-yellow);
    transition: 0.20s ease-in-out;
}

.book-us-btn {
    background-color: var(--clr-yellow);
    padding: 0.6rem 1.5rem;
    cursor: pointer;
}

.book-us-btn:hover {
    background-color: var(--clr-yellow-light);
    transition: 0.20s ease-in-out;
}

.intro-container {
    padding-top: 200px;
    padding-bottom: 210px;
    background: url(/imgs/intro-background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.intro-text h1 {
    color: var(--clr-white);
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.intro-text p {
    color: var(--clr-white);
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.intro-links {
    display: flex;
    justify-content: center;
}

.intro-links a {
    color: var(--clr-white);
    font-size: .8rem;
    font-weight: 500;
    margin: 8px;
    background-color: var(--clr-yellow);
    padding: 0.9rem 1.5rem;
}

.intro-links a:hover {
    background-color: var(--clr-yellow-light);
    transition: 0.20s ease-in-out;
    color: var(--clr-black);
}

.free-consulting {
    background-color: var(--clr-yellow);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consulting-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.consulting-text h2 {
    color: var(--clr-white);
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.consulting-link {
    border: 2px solid var(--clr-white);
    color: var(--clr-white);
    font-size: .8rem;
    font-weight: 500;
    margin: 0 1rem;
    background-color: var(--clr-yellow);
    padding: 0.9rem 1.5rem;
}

.consulting-link:hover {
    color: var(--clr-black);
    background-color: var(--clr-yellow-light);
    transition: 0.20s ease-in-out;
}


.process {
    background-color: var(--clr-black);
    padding-top: 70px;
    padding-bottom: 70px;
}

.process-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.process-boxes h3 {
    color: var(--clr-white);
    font-weight: 600;
    width: 250px;
    font-size: 1rem;
}

.process-boxes p {
    color: var(--clr-gray);
    font-size: 0.9rem;
    font-weight: 500;
    width: 380px;
}

.process-boxes a {
    font-size: .8rem;
    font-weight: 500;
    color: var(--clr-white);
    border: 2px solid var(--clr-yellow);
    padding: 0.5rem 1.5rem;
    background-color: var(--clr-yellow);
}

.process-boxes a:hover {
    background-color: var(--clr-yellow-light);
    color: var(--clr-black);
    border-color: var(--clr-yellow-light);
    transition: 0.20s ease-in-out;
}

.process-engineering {
    margin: 30px 30px;
}

.process-architecture {
    margin: 30px 30px;
}

.process-preconstruction {
    margin: 30px 30px;
}

.services {
    background-color: var(--clr-white);
    padding-top: 70px;
    padding-bottom: 70px;
}

.services-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    margin: 30px 30px;
}

.services-boxes i {
    font-size: 2.5rem;
    color: var(--clr-yellow);
}

.services-boxes h3 {
    font-size: 1rem;
    width: 190px;
}

.services-boxes p {
    font-size: 0.9rem;
    color: var(--clr-gray);
    font-weight: 500;
    width: 300px;
}

.services-boxes a {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--clr-black);
}

.services-boxes a:hover {
    text-decoration: underline;
}

.reasons {
    background-color: var(--clr-black);
    padding-top: 70px;
    padding-bottom: 70px;
}

.reason-info h2 {
    color: var(--clr-white);
}

.reason-info p {
    color: var(--clr-gray);
}

@media (max-width: 768px) {
    .header-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-left: 0;
        width: 120px;
        /* Adjust the width for smaller screens */
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
        /* Hide the nav links by default */
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

    .nav-links.active {
        display: flex;
        /* Show the nav links when active */
    }
}